@import "../../styles/variables.scss";

.catalog-page {
  min-height: 900px;
  display: flex;
  justify-content: center;
  background-color: $mainGbColor;
  padding: 20px 16px 0px 16px;
}

.catalog-page__content {
  width: 100%;
  max-width: 1228px;
}

.catalog-page__grid-section {
  display: flex;
  margin-top: 70px;
  width: 100%;
}
.catalog-page__title-text {
  margin: 0px;
  margin-top: 30px;
  color: #f2f4f7;
  font-size: 24px;
  font-family: $kharkiv;
  line-height: 110%;
}
.catalog-page__filters {
  min-width: 292px;
  margin-right: 20px;
}

.catalog-page__catalog-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 880px) {
  .catalog-page__filters {
    display: none;
  }
  // .catalog-page__grid-section {
  //   justify-content: center;
  // }
}
