@import "../../styles/variables.scss";

.catalog-page {
  min-height: 900px;
  display: flex;
  justify-content: center;
  background-color: $mainGbColor;
  padding: 20px 16px 0px 16px;
}

.catalog-content {
  width: 100%;
  max-width: 1228px;
}
