@import "../../styles/variables.scss";

.hidden {
    position: absolute;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.5s;
    opacity: 0%;
}
.visibility1 {
    position: absolute;
    visibility: visible;
    opacity: 100%;
    transform: translateY(0px);
    transition: all 0.5s;
}
.catalogPc {
    color: #fff;
    background: #2A2A2F;
    width: 100%;
    height: 430px;
    max-width: 1920px;
    left: 0;
    right: 0;
    margin: 0 auto;
    
}
.catalogPc ul {
    margin-left: 346px;
    
}