@import "../../../styles/variables.scss";

.counter-box {
  & button {
    display: flex;
    background: none;
    border: 0px;
    padding: 0px;
    align-items: center;
  }
  display: flex;
  justify-content: space-between;
  max-width: 100px;
  max-height: 30px;
  align-items: center;
  border: 1px solid #42307d;
  border-radius: 4px;
  & svg {
    cursor: pointer;
  }
  & input {
    color: #f2f4f7;
    font-family: $mainFont400;
    width: 20px;
    background: none;
    border: 0px;
    outline: none;
    text-align: center;
  }
  & input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0px;
  }
}
