@import "@styles/variables.scss";

.catalog-filter {
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 292px;
  margin-right: 20px;
  p {
    color: #f2f4f7;
    font-family: $mainFont400;
    font-size: 16px;
  }
}

.catalog-filter__price-range {
  display: flex;
  gap: 20px;
  flex-direction: column;
  p {
    margin: 0;
  }
}

.catalog-filter__price-range-slider-container {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-filter__price-range-slider {
  width: 100%;
  height: 2px;
  background-color: #7f56d9;
  .track-0 {
    border: solid 1px #3e3e45;
  }
  .track-2 {
    border: solid 1px #3e3e45;
  }
}

.catalog-filter__slider-thumb {
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #7f56d9;
  background-color: #ffffff;
  top: -7px;
}

.catalog-filter__price-range-input-container {
  display: flex;
  justify-content: space-between;
  gap: 33px;
}

.catalog-filter__price-range-input {
  display: flex;
  align-items: center;
  gap: 8px;
  p {
    max-height: 16px;
  }
  input {
    box-sizing: border-box;
    text-align: center;
    width: 90px;
    height: 30px;
    padding: 0;
    padding-top: 2px;
    background-color: #3e3e45;
    border: none;
    border-radius: 4px;
    color: #c8cdd6;
    font-size: 14px;
    font-family: $mainFont400;
  }
}

.catalog-filter__dropdowns {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  p {
    margin: 0;
  }
}
@media (max-width: 880px) {
  .catalog-filter {
    display: none;
  }
  .catalog-filter.visible {
    display: flex;
  }
}
