@import "../../styles/variables.scss";

.footer_input button {
    background: none;
    margin: 0;
    text-align: center;
    color: #fff;
    border: 1px solid;
    padding: 11px 16px;
    border-radius: 0px 4px 4px 0px;
    font-size: 14px;
    line-height: 140%;
    font-family: $mainFont500;
    border-color: $colorSellFont;
    box-shadow: 0 0 40px 40px $colorSellFont inset, 0 0 0 0 $colorSellFont;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}
.footer_input button:hover {
    box-shadow: 0 0 10px 0 $colorSellFont inset, 0 0 10px 4px $colorSellFont;
}
.footer_input {
    display: flex;
    margin-top: 16px;
}
.footer_input input {
    padding: 12px;
    width: 192px;
    background: #3E3E45;
    border: 1px solid #3E3E45;
    border-radius: 4px 0px 0px 4px;
    color: #F2F4F7;
    font-size: 14px;
    line-height: 130%;
    font-family: $mainFont400;
    outline: none
}
.footer_input_text {
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
    font-size: 16px;
    line-height: 140%;
    color: #F9FAFB;
    width: 100%;
    max-width: 289px;
}

@media (max-width: 768px) {
    .footer_input_text {
        margin-top: 0px;
    }
}