@import "@styles/variables.scss";

.PopUp.active {
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 414px;
  position: fixed;
  z-index: 101;
  top: 326px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $secondColor;
  border-radius: 4px;
  display: block;
}

.PopUp {
  display: none;
}
.background_PopUp.active {
  display: block;
  position: fixed;
  top: 0px;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: $mainGbColor;
  opacity: 0.7;
}
.background_PopUp {
  display: none;
}
.PopUp_closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 101;
  cursor: pointer;
}
.PopUp_container {
  width: 100%;
  max-width: 454px;
  margin: 0 auto;
}
.PopUp_content {
  margin-top: 64px;
  position: relative;
  z-index: 100;
}
.PopUp_content p {
  color: #f2f4f7;
  margin-top: 20px;
  font-size: 16px;
  line-height: 140%;
  font-family: $mainFont400;
  max-width: 342px;
}
.PopUp_content p:first-child {
  display: block;
  margin-top: 0px;
  font-size: 36px;
  line-height: 110%;
  font-family: $kharkiv;
  max-width: 460px;
}
.PopUp_checkbox p {
  display: block;
  color: #98a2b3;
  font-size: 12px;
  line-height: 140%;
  font-family: $mainFont400;
}
.PopUp_checkbox {
  margin-top: 42px;
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
  appearance: none;
  width: 14px;
  height: 14px;
  margin-top: 7px;
  margin-right: 8px;
  border-radius: 2px;
  display: grid;
  place-content: center;
  color: black;
  border: 2px solid #98a2b3;
  cursor: pointer;
}
input[type="checkbox"]::before {
  content: "";
  width: 8px;
  height: 8px;
  background: #98a2b3;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  cursor: pointer;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.PopUp_input {
  display: flex;
  margin-top: 40px;
}
.PopUp_input input {
  padding: 12px;
  width: 100%;
  max-width: 211px;
  height: 22px;
  background: #3e3e45;
  border: 1px solid #3e3e45;
  border-radius: 4px 0px 0px 4px;
  color: #f2f4f7;
  font-size: 14px;
  line-height: 130%;
  font-family: $mainFont400;
  outline: none;
}

.PopUp_input button {
  background: none;
  margin: 0;
  text-align: center;
  color: #fff;
  border: 1px solid;
  padding: 13px 16px;
  border-radius: 0px 4px 4px 0px;
  font-size: 14px;
  line-height: 140%;
  font-family: $mainFont500;
  border-color: $colorSellFont;
  box-shadow:
    0 0 40px 40px $colorSellFont inset,
    0 0 0 0 $colorSellFont;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.PopUp_input button:hover {
  box-shadow:
    0 0 10px 0 $colorSellFont inset,
    0 0 10px 4px $colorSellFont;
}
.sots_PopUp_left,
.sots_PopUp_right {
  position: absolute;
}
.sots_PopUp_left {
  z-index: 19;
  top: 0px;
  left: 0px;
}
.sots_PopUp_right {
  z-index: 19;
  top: 0px;
  right: 0px;
}

@media (max-width: 542px) {
  .PopUp_container p {
    font-size: 12px;
  }
  .PopUp_container p:first-child {
    font-size: 24px;
  }
  .PopUp_checkbox {
    margin-top: 24px;
  }
  .PopUp.active {
    top: 300px;
  }
  .PopUp_container {
    margin-left: 20px;
  }
}
