@import "@styles/variables.scss";

.footer_contacts_text {
  margin: 0px;
  padding: 0px;
  margin-bottom: 8px;
  font-size: 18px;
  font-family: $mainFont500;
  color: #f9fafb;
}
@media (max-width: 768px) {
  .footer_contacts_list {
    margin-top: 77px;
  }
}
