@import "../../styles/variables.scss";

.advantages {
    background: $mainGbColor;
}
.advantagesContainer {
    width: 100%;
    max-width: 1228px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.advantagesContainer p {
    color: #F2F4F7;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    font-family: $kharkiv;
}
.advantagesContainer img {
    display: block;
    margin: 0 auto;
}