@import "../../styles/variables.scss";

.advantages {
    background: $mainGbColor;
    padding-bottom: 160px;
}
.advantages_container {
    width: 100%;
    max-width: 1228px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    align-items: center;
}
.advantages_container p {
    color: #F2F4F7;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    font-family: $kharkiv;
}
.advantages_container img {
    display: block;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .advantages_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        align-items: center;
    }
    .advantages {
        padding-bottom: 100px;
    }
}
@media (max-width: 400px) {
    .advantages_container p {
        font-size: 16px;
        line-height: 110%;
    }
}