@import "../../../styles/variables.scss";

.app-drawer {
  .MuiDrawer-paper {
    width: 100%;
    background-color: $secondColor;
  }
}

.app-drawer__head {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 20px;
    color: #fff;
    font-family: $mainFont400;
  }
}

.app-drawer__head-content {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 20px 50px 0 50px;
}

.app-drawer__close-button {
  cursor: pointer;
}

.app-drawer__divider {
  width: 100%;
  background: #835ae0;
  height: 1px;
  margin-top: 20px;
}

.app-drawer__content {
  padding: 30px 50px 0px 50px;
}

.app-drawer__content.bottom {
  padding: 0 50px 0px 50px;
}
@media (max-width: 500px) {
  .app-drawer__content {
    padding: 18px 16px 0px 16px;
  }
  .app-drawer__head-content {
    padding: 20px 24px 0px 24px;
  }
}
