@import "@styles/variables.scss";

.cart-page {
  background: #1f2023;
  &__content {
    display: flex;
    gap: 20px;
  }
  &__container {
    max-width: 1228px;
    margin: 0 auto;
    margin-bottom: 200px;
  }
  &__window {
    box-sizing: border-box;
    width: 100%;
    max-width: 812px;
    background: #2a2a2f;
    border-radius: 4px;
    padding: 20px;
  }
  &__main-text {
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 70px;
    font-family: $kharkiv;
    color: #fff;
    font-size: 24px;
  }
  &__info-text {
    display: grid;
    grid-template-columns: 8fr 4fr 1fr;
  }
  &__info-text p {
    color: #fff;
    font-family: $mainFont500;
    font-size: 14px;
    margin: 0px;
    margin-bottom: 20px;
  }
}
