@import "@styles/variables.scss";

.catalog-subcategory-menu {
  min-width: 292px;
  margin-right: 20px;
}

.catalog-subcategory-menu__list {
  list-style-type: none;
  color: #f9fafb;
  font-size: 18px;
  line-height: 140%;
  font-family: $mainFont400;
  padding: 0px;
  margin: 0px;
}
.catalog-subcategory-menu__item {
  margin-bottom: 10px;
}
.catalog-subcategory-menu__item-link {
  color: #f9fafb;
  text-decoration: none;
}
.catalog-subcategory-menu__item-link:hover {
  color: #835ae0;
  text-decoration: none;
}

.catalog-subcategory-menu__item-link:active {
  text-decoration: none;
}

@media (max-width: 880px) {
  .catalog-subcategory-menu {
    display: none;
  }
  // .catalog-page__grid-section {
  //   justify-content: center;
  // }
}
