$mainFont500: fixelTextMedium500;
$mainFont400: fixelTextRegular400;
$logoFont: galaxy;
$kharkiv: Kharkiv;
$mainGbColor: #1f2023;
$secondColor: #2a2a2f;
$gradient-purple: linear-gradient(63deg, #53389e 16.72%, #7f56d9 83.39%);
$colorSellFont: #6941c6;
$colorDiscount: #f79009;
$mainPurple: #835ae0;

@font-face {
  font-family: "fixelTextMedium500";
  src: url("../resources/fonts/FixelText-Medium.otf");
  font-weight: Medium;
}
@font-face {
  font-family: "fixelTextRegular400";
  src: url("../resources/fonts/FixelText-Regular.otf");
  font-weight: Normal;
}
@font-face {
  font-family: "galaxy";
  src: url("../resources/fonts/LogoFont.otf");
}
@font-face {
  font-family: "Kharkiv";
  src: url("../resources/fonts/KharkivTone.ttf");
}
