@import "../../styles/variables.scss";

.mobile-cart {
  &__title {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    align-items: flex-end;
    color: #f2f4f7;
    font-family: $mainFont500;
    line-height: 140%;
    font-size: 20px;
    & p {
      margin: 0px;
    }
    & p:last-child {
      display: flex;
      font-size: 12px;
      color: #c8cdd6;
      font-family: $mainFont400;
      text-decoration: underline;
      cursor: pointer;
      height: 17px;
    }
  }
}
