@import "@styles/variables.scss";

.sorts__content {
  display: flex;
  gap: 20px;
  color: #f2f4f7;
  justify-content: end;
  align-items: center;
}
.sorts__content p {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 130%;
  font-family: $mainFont400;
  text-decoration: underline dotted;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}
.sorts__content p:hover {
  transition: all 0.5s;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 130%;
  font-family: $mainFont400;
  color: #835ae0;
  cursor: pointer;
}
.sorts__content p:first-child {
  margin: 0px;
  padding: 0px;
  color: #98a2b3;
  font-size: 14px;
  line-height: 130%;
  font-family: $mainFont400;
  text-decoration: none;
}
.sorts__content p.active {
  transition: all 0.5s;
  color: #835ae0;
}
@media (max-width: 880px) {
  .sorts__content {
    display: none;
    color: #98a2b3;
    gap: 30px;
  }
  .sorts__content.open {
    display: flex;
  }
  .sorts__content {
    flex-direction: column;
    align-items: start;
    margin-bottom: 202px;
  }
  .sorts__content-title {
    display: none;
  }
  .sorts__content p {
    text-decoration: none;
  }
  .sorts__content p:hover {
    color: #ffffff;
  }
  .sorts__content p.active {
    color: #ffffff;
  }
}
