@import "../../styles/variables.scss";

.catalog-page__filters__list {
    list-style-type: none;
    color: #F9FAFB;
    font-size: 18px;
    line-height: 140%;
    font-family: $mainFont400;
    padding: 0px;
    margin: 0px;
}
.catalog-page__filters__list__item {
    margin-bottom: 10px;
}
.catalog-page__filters__list__item__link {
    color: #F9FAFB;
    text-decoration: none;
}
.catalog-page__filters__list__item__link:hover {
    color: #835AE0;
    text-decoration: none;
}

.catalog-page__filters__list__item__link:active {
    text-decoration: none;
}