@import "../../styles/variables.scss";

//Костыль, переделать
.rec-item-wrapper{
    min-height: 100%;
}

.сard {
    box-sizing: border-box;
    min-height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: auto;
    background: $secondColor;
    border-radius: 4px;
    padding: 0 16px;
    padding-bottom: 16px;
    position: relative;
}

.rating {
    display: flex;
    align-items: center;
    margin-top: 20px;

}
.rating p {
    margin: 0;
    font-size: 14px;
    margin-left: 10px;
    line-height: 130%;
    font-family: $mainFont400;
    color: #C8CDD6;
   
}

.card-info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.code_text {
    margin: 0;
    font-size: 14px;
    font-family: $mainFont400;
    line-height: 130%;
    color: #98A2B3;
    margin-top: 20px;
}
.main_text {
    font-size: 16px;
    line-height: 140%;
    color: #F2F4F7;
    font-family: $mainFont500;
    margin: 0;
    margin-top: 4px;
}

.card__image-container {
    display: flex;
    justify-content: center;
    height: 200px;
}

.main_img {
    object-fit: contain;
    align-self: center;
    max-width: 260px;
    max-height: 187px;
    display: block;
    margin-top: 40px;
    transition: all 1s;
}
.main_img:hover {
    transform: scale(1.1);
    transition: all 1s;
}
.description {
    margin-top: 16px;
}
.description p {
    margin: 0;
    font-size: 16px;
    font-family: $mainFont400;
    color: #F2F4F7;
    line-height: 140%;
}
.card_description_text.special {
    color: #98A2B3;
    
}
.discount {
    display: flex;
    margin-top: 46px;
}
.discount p {
    margin: 0;
    font-size: 14px;
    line-height: 140%;
    font-family: $mainFont500;
    color: $colorDiscount;
   
}
.discount strike {
    color: #C8CDD6;
    margin-right: 2px;
}
.price {
    margin: 0;
    margin-top: 4px;
    font-size: 32px;
    font-family: $mainFont500;
    color: $colorSellFont;
}

.sell_btn {
    display: flex;
    max-width: 24px;
    align-items: center;
    margin: 0;
    border: 1px solid;
    padding: 14px 32px;
    border-radius: 4px;
    border-color: $colorSellFont;
    box-shadow: 0 0 40px 40px $colorSellFont inset, 0 0 0 0 $colorSellFont;
    transition: all 150ms ease-in-out;
}
.sell_btn:hover {
    box-shadow: 0 0 10px 0 $colorSellFont inset, 0 0 10px 4px $colorSellFont;
}
.buy {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.card_likes {
    display: block;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    z-index: 50;
}
.card_balance {
    display: block;
    position: absolute;
    top: 56px;
    right: 16px;
    cursor: pointer;
    z-index: 50;
}
@media (max-width:950px) {
    .сard {
        padding: 0 16px;
        padding-bottom: 16px;
    }
    .card_likes {
        top: 16px;
        right: 16px;
    }
    .card_balance {
        top: 48px;
        right: 16px;
    }
    
    .main_img {
        display: block;
        width: 100%;
        margin-top: 32px;
        max-width: 187px;
        max-height: 133px;
    }
    .code_text {
        max-width: 53px;
        margin-top: 24px;
        font-size: 12px;
    }
    .main_text {
        display: inline-block;
        font-size: 12px;
        margin-top: 0px;
        max-width: 144px;
        overflow: hidden;
    }
    .description p {
        max-width: 144px;
        overflow: hidden;
    }
    .rating {
        align-items: center;
        margin-top: 12px;
    }
    .rating p {
        font-size: 12px;
    }
    .description p {
        font-size: 12px;
    }
    .discount {
        max-width: 83px;
        margin-top: 24px;
    }
    .discount p {
        font-size: 10px;
        line-height: 140%; 
    }
    .price {
        font-size: 18px;
        margin-top: 0px;
    }
    .sell_btn {
        padding: 8px 16px;
    }
    .buy {
        align-items: end;
    }
    .card {
        padding: 0 16px;
        padding-bottom: 16px;
        max-width: 164px;
    }
}
@media (max-width:450px) {
    .сard {
        padding: 0 10px;
        padding-bottom: 10px;
    }
    .card_likes {
        top: 10px;
        right: 10px;
    }
    .card_balance {
        top: 42px;
        right: 10px;
    }
    
    .main_img {
        display: block;
        width: 100%;
        margin-top: 32px;
        max-width: 144px;
        max-height: 101px;
    }
    .code_text {
        max-width: 60px;
    }
    .main_text {
        display: inline-block;
        font-size: 12px;
        margin-top: 0px;
        max-width: 144px;
        overflow: hidden;
    }
    .description p {
        max-width: 150px;
        overflow: hidden;
    }
    .rating {
        align-items: center;
        margin-top: 12px;
    }
    .rating p {
        font-size: 12px;
    }
    .description p {
        font-size: 12px;
    }
    .discount {
        max-width: 120px;
        margin-top: 24px;
    }
    .discount p {
        font-size: 10px;
        line-height: 140%; 
    }
    .price {
        font-size: 18px;
        margin-top: 0px;
    }
    .sell_btn {
        padding: 8px 16px;
    }
    .buy {
        align-items: end;
    }
    .card {
        padding: 0 10px;
        padding-bottom: 16px;
        max-width: 164px;
    }
}