@import "../../styles/variables.scss";
.menu {
  display: none;
}
.phone {
  display: none;
  cursor: pointer;
}
.logo_mobile {
  display: none;
  width: 94px;
  height: 42px;
}
.nav {
  display: flex;
  align-items: center;
}
#header {
  background: $mainGbColor;
  min-height: 85px;
  padding-top: 20px;
  padding: 20px 40px 0 40px;
}
.container {
  max-width: 1228px;
  margin: 0 auto;
  display: flex;
}
.logo {
  display: block;
  max-height: 65px;
  max-width: 141px;
}
.search_panel {
  width: 500px;
  position: relative;
  display: flex;
  align-items: end;
  margin-left: 67px;
}
.input {
  width: 100%;
  border-radius: 4px;
  font-family: $mainFont400;
  padding: 14px;
  font-size: 14px;
  border: 0px;
  outline: none;
  background-color: #3e3e45;
  color: #fff;
}
.search {
  position: absolute;
  right: 14px;
  bottom: 14px;
  cursor: pointer;
}
.contact {
  width: 100%;
  max-width: 150px;
  position: relative;
  display: flex;
  align-items: end;
  margin-left: 100px;
}
.number_panel {
  display: flex;
}
.number_panel .arrow {
  margin-left: 5px;
  cursor: pointer;
  padding-bottom: 3px;
}
.number_panel .number {
  font-family: $mainFont500;
  font-size: 16px;
  color: #fff;
  white-space: nowrap;
}
.contact p {
  margin: 0px;
  color: #fff;
  font-family: $mainFont400;
  font-size: 14px;
}
.catalog {
  display: flex;
  align-items: end;
  gap: 8px;
  margin-left: 100px;
}
.profile {
  cursor: pointer;
  display: block;
}
.heart {
  cursor: pointer;
  display: block;
}
.balance {
  cursor: pointer;
  display: block;
}
.language_arrow {
  cursor: pointer;
}
.shopping_cart {
  cursor: pointer;
  display: block;
}
.language {
  display: flex;
  align-items: end;
  cursor: pointer;
  position: relative;
}
.language_switch {
  position: absolute;
  top: 25px;
  transform: translateY(-5px);
  visibility: hidden;
  opacity: 0%;
}
.language_switch.active {
  transform: translateY(0px);
  transition: all 0.5s;
  visibility: visible;
  opacity: 100%;
}
.language_switch.active:hover {
  transition: none;
  color: $colorSellFont;
}
.language p {
  margin: 0px;
  color: #fff;
  font-family: $mainFont400;
  cursor: pointer;
}
.likes {
  display: flex;
  position: relative;
  cursor: pointer;
}
.shoppingCount {
  display: flex;
  position: relative;
  cursor: pointer;
}
.likes_count {
  color: #fff;
  position: absolute;
  bottom: -4px;
  box-sizing: border-box;
  right: 0px;
  z-index: 22;
  font-family: $mainFont400;
  font-size: 14px;
  width: 13px;
  text-align: center;
}
.shopping_count {
  color: #fff;
  position: absolute;
  bottom: -4px;
  box-sizing: border-box;
  right: -3px;
  z-index: 22;
  font-family: $mainFont400;
  font-size: 14px;
  width: 13px;
  text-align: center;
}
.likes_count::before {
  content: "";
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: -1;
  left: -1px;
  border-radius: 50%;
  background: #835ae0;
}
.shopping_count::before {
  content: "";
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: -1;
  left: -1px;
  border-radius: 50%;
  background: #835ae0;
}

.background {
  transition: all 0.5s;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  visibility: hidden;
  opacity: 0%;
  background: $mainGbColor;
}
.background.active {
  transition: all 0.5s;
  z-index: 56;
  visibility: visible;
  opacity: 0.7;
}
.burger_menu {
  transition: all 0.5s;
  transform: translateX(-20px);
  visibility: hidden;
  opacity: 0%;
}
.burger_menu.active {
  transition: all 0.5s;
  position: absolute;
  overflow: auto;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  max-width: 570px;
  background: $secondColor;
  z-index: 60;
  transform: translateX(0px);
  visibility: visible;
  opacity: 100%;
}
.catalog svg:hover {
  transition: all 0.2s;
  cursor: pointer;
  fill: #835ae0;
}

.btn_call {
  display: block;
  margin: 0;
  width: 100%;
  max-width: 140px;
  text-align: center;
  color: #fff;
  border: 1px solid;
  padding: 11px 14px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 140%;
  text-decoration: none;
  font-family: $mainFont500;
  border-color: $colorSellFont;
  box-shadow:
    0 0 40px 40px $colorSellFont inset,
    0 0 0 0 $colorSellFont;
  transition: all 150ms ease-in-out;
}
.btn_call:hover {
  box-shadow:
    0 0 10px 0 $colorSellFont inset,
    0 0 10px 4px $colorSellFont;
}
.contact_panel {
  position: absolute;
  visibility: hidden;
  opacity: 0%;
}
.contact_panel.active {
  position: absolute;
  top: 80px;
  opacity: 100%;
  visibility: visible;
  z-index: 555;
  width: 180px;
  background: $mainGbColor;
  height: 95px;
  border-radius: 5px;
  padding-left: 10px;
}
.network_icon {
  display: flex;
  gap: 20px;
  margin-bottom: 14px;
}
.network_icon svg {
  cursor: pointer;
}
.network_icon svg:hover {
  stroke: #835ae0;
}
.network_icon svg:hover:first-child {
  fill: #835ae0;
  stroke: none;
}
.contact_information {
  padding-left: 10px;
}
@media (max-width: 1180px) {
  .contact {
    margin-left: 23px;
  }
  .catalog {
    margin-left: 20px;
  }
  .search_panel {
    width: 300px;
    margin-left: 20px;
  }
  .container {
    justify-content: space-between;
  }
  #header {
    padding: 20px 16px 0px 16px;
  }
}
@media (max-width: 900px) {
  //820
  .menu {
    display: block;
    // margin-left: 40px;
    cursor: pointer;
  }
  #header {
    padding: 20px 40px 0px 40px;
  }
  .logo {
    margin-left: 40px;
  }
  .contact {
    margin-left: 83px;
  }
  .catalog {
    margin-left: 20px;
  }
  .search_panel {
    display: none;
  }
  .container {
    justify-content: space-between;
  }
}
@media (max-width: 720px) {
  //680
  .contact {
    display: none;
  }
  .catalog {
    margin-left: 20px;
    align-items: end;
  }
  .container {
    justify-content: space-between;
  }
}
@media (max-width: 505px) {
  .logo {
    display: none;
  }
  .logo_mobile {
    display: block;
    margin-left: 8px;
  }
  #header {
    min-height: 42px;
    padding-top: 0px;
  }
  .menu {
    margin: 0;
  }
  .balance {
    display: none;
  }
  .language {
    display: none;
  }
  .phone {
    display: block;
  }
  .profile {
    display: none;
  }
  .catalog {
    margin-left: 20px;
    align-items: center;
  }
  #header {
    padding: 20px 0px 0px 0px;
  }
  .container {
    padding: 0px 16px 0px 16px;
    justify-content: space-between;
  }
}
@media (max-width: 465px) {
  .burger_menu.active {
    max-width: 325px;
  }
}
@media (max-width: 325px) {
  .catalog {
    margin: 0px;
  }
}
