@import "@styles/variables.scss";

.cart-page {
  &__item {
    padding: 30px 0px 30px 0px;
  }
  &__item-info {
    display: grid;
    grid-template-columns: 8fr 2fr 3fr;
  }
  &__item-line {
    width: 100%;
    height: 1px;
    background: #fff;
  }
  &__item-about {
    display: flex;
  }
  &__item-text {
    margin-left: 20px;
    font-family: $mainFont400;
    font-size: 14px;
    line-height: 130%;
    max-width: 307px;
  }
  &__item-text strong {
    color: #f2f4f7;
  }
  &__item-text p {
    color: #98a2b3;
    margin: 0px;
    margin-top: 10px;
  }
  &__item-about img {
    max-width: 84px;
    max-height: 87px;
  }
  &__item-price {
    &__discount {
      display: flex;
      gap: 5px;
      & p {
        color: #fff;
        font-size: 12px;
      }
      & p:last-child {
        color: #f79009;
        font-size: 12px;
      }
    }
    &__text {
      font-size: 24px;
      line-height: 140%;
      color: #835ae0;
    }
    &__trash {
      display: flex;
      gap: 20px;
      align-items: flex-start;
      justify-content: flex-end;
      & img {
        cursor: pointer;
      }
    }
  }
  &__item-price p {
    margin: 0px;
    font-family: $mainFont500;
    line-height: 140%;
  }
}
