@import "../../styles/variables.scss";
.footer {
    width: 100%;
    height: 100%;
    min-height: 344px;
    background: $secondColor;
    position: relative;
}
.footer_desktop {
    display: block;
}
.footer_tabs {
    display: none;
}
.footer_sots_right {
    position: absolute;
    top: 0px;
    right: 0px;
}
.footer_sots_left {
    position: absolute;
    top: 0px;
    left: 0px;
}
.footer_mobile {
    display: none;
}
@media (max-width:1700px) {
    .footer_sots_right {
        display: none;
    }
    .footer_sots_left {
        display: none;
    }
}
@media (max-width: 768px) {
    .footer_desktop {
        display: none;
    }
    .footer_tabs {
        display: block;
    }
    .footer {
        min-height: 438px;
    }
}
@media (max-width: 500px) {
    .footer_desktop {
        display: none;
    }
    .footer_tabs {
        display: none;
    }
    .footer_mobile {
        display: block;
    }
    .footer {
        min-height: 375px;
    }
}