@import "@styles/variables.scss";

.container_action_item a {
  display: block;
  position: relative;
  margin: 0;
  max-width: 224px;
  text-align: center;
  z-index: 11;
  color: #fff;
  border: 1px solid;
  padding: 16px 32px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  font-family: $mainFont500;
  border-color: $colorSellFont;
  box-shadow:
    0 0 40px 40px $colorSellFont inset,
    0 0 0 0 $colorSellFont;
  transition: all 150ms ease-in-out;
}
.container_action_item a:hover {
  box-shadow:
    0 0 10px 0 $colorSellFont inset,
    0 0 10px 4px $colorSellFont;
}
.mobile_text {
  display: none;
}
.container_action_item {
  width: 100%;
  max-width: 1250px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_action_item {
  color: #f2f4f7;
  margin-left: 30px;
}
.content_action_item h3 {
  font-size: 48px;
  line-height: 140%;
  font-family: $kharkiv;
  width: 100%;
  max-width: 750px;
}
.desktop_text {
  margin-top: 30px;
  font-size: 20px;
  line-height: 140%;
  font-family: $mainFont400;
  width: 100%;
  max-width: 750px;
  margin-bottom: 60px;
}
@media (max-width: 1150px) {
  .content_action_item h3 {
    font-size: 36px;
    line-height: 110%;
    font-family: $kharkiv;
    width: 100%;
    max-width: 520px;
  }
  .desktop_text {
    margin-top: 30px;
    font-size: 20px;
    line-height: 140%;
    font-family: $mainFont400;
    width: 100%;
    max-width: 382px;
  }
}
@media (max-width: 768px) {
  .content_action_item h3 {
    font-size: 36px;
    line-height: 110%;
    font-family: $kharkiv;
    width: 100%;
    max-width: 520px;
    position: relative;
    z-index: 2;
  }
  .desktop_text {
    position: relative;
    z-index: 2;
    margin-top: 30px;
    font-size: 20px;
    line-height: 140%;
    font-family: $mainFont400;
    width: 100%;
    max-width: 382px;
  }
  .content_action_item {
    margin-top: 78px;
    margin-left: 0px;
  }
  .action_item_img {
    height: 326px;
    width: 297px;
    position: absolute;
    z-index: 1;
    margin-left: 0px;
    margin-top: 50px;
    right: -100px;
  }
}
@media (max-width: 540px) {
  .content_action_item {
    margin-right: 90px;
  }
  .content_action_item h3 {
    margin-top: 0px;
    font-size: 20px;
    line-height: 110%;
    font-family: $kharkiv;
    width: 100%;
    max-width: 220px;
    position: relative;
    z-index: 2;
  }
  .desktop_text {
    display: none;
  }
  .mobile_text {
    display: block;
    position: relative;
    z-index: 2;
    margin-top: 12px;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 140%;
    font-family: $mainFont400;
    width: 100%;
    max-width: 174px;
  }
  .content_action_item {
    margin-top: 27px;
    margin-left: 0px;
  }
  .action_item_img {
    height: 171px;
    width: 141px;
    position: absolute;
    z-index: 1;
    right: -30px;
  }
  .container_action_item a {
    max-width: 174px;
    padding: 9px 2px;
    font-size: 12px;
  }
}
