@import "@styles/variables.scss";

.nav_catalog {
  background: $mainGbColor;
}

.nav_catalog_container {
  max-width: 1228px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 4px;
}
.nav_catalog_container p {
  margin: 0px;
}

.nav_catalog_container img {
  transform: rotateZ(-90deg);
}
.links {
  margin: 0;
  font-size: 14px;
  font-family: $mainFont400;
  color: #98a2b3;
  line-height: 140%;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
.links_active {
  margin: 0;
  font-size: 14px;
  font-family: $mainFont500;
  color: #f2f4f7;
  line-height: 140%;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
