@import "../../styles/variables.scss";

.сard {
    box-sizing: border-box;
    max-height: 677px;
    max-width: 396px;
    background: $secondColor;
    border-radius: 4px;
    padding: 0 10px;
    padding-bottom: 10px;
}

.rating {
    display: flex;
    align-items: center;
    margin-top: 16px;

}
.rating p {
    margin: 0;
    font-size: 14px;
    margin-left: 10px;
    line-height: 130%;
    font-family: $mainFont400;
    color: #C8CDD6;
   
}
.codeText {
    margin: 0;
    font-size: 14px;
    font-family: $mainFont400;
    line-height: 130%;
    color: #98A2B3;
    margin-top: 20px;
}
.mainText {
    font-size: 16px;
    line-height: 140%;
    color: #F2F4F7;
    font-family: $mainFont500;
    margin: 0;
    margin-top: 4px;
}
.mainImg {
    display: block;
    width: 100%;
    margin-top: 30px;
}
.description {
    margin-top: 22px;
}
.description p {
    margin: 0;
    font-size: 16px;
    font-family: $mainFont400;
    color: #F2F4F7;
    line-height: 140%;
}
.discount {
    display: flex;
    margin-top: 46px;
}
.discount p {
    margin: 0;
    font-size: 14px;
    line-height: 140%;
    font-family: $mainFont500;
    color: $colorDiscount;
   
}
.discount strike {
    color: #C8CDD6;
    margin-right: 8px;
}
.price {
    margin: 0;
    margin-top: 4px;
    font-size: 36px;
    font-family: $mainFont500;
    color: $colorSellFont;
}

.sellBtn {
    display: flex;
    max-width: 24px;
    align-items: center;
    margin: 0;
    border: 1px solid;
    padding: 14px 32px;
    border-radius: 4px;
    border-color: $colorSellFont;
    box-shadow: 0 0 40px 40px $colorSellFont inset, 0 0 0 0 $colorSellFont;
    transition: all 150ms ease-in-out;
}
.sellBtn:hover {
    box-shadow: 0 0 10px 0 $colorSellFont inset, 0 0 10px 4px $colorSellFont;
}
.buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:375px) {
    .mainImg {
        display: block;
        width: 100%;
        margin-top: 32px;
        max-width: 144px;
        max-height: 101px;
    }
    .codeText {
        max-width: 60px;
    }
    .mainText {
        font-size: 12px;
        margin-top: 0px;
        overflow: auto;
        max-width: 144px;
    }
    .description p {
        max-width: 150px;
        overflow: hidden;
    }
    .rating {
        align-items: center;
        margin-top: 12px;
    }
    .rating p {
        font-size: 12px;
    }
    .description p {
        font-size: 12px;
    }
    .discount {
        max-width: 120px;
        margin-top: 24px;
    }
    .discount p {
        font-size: 10px;
        line-height: 140%;  
    }
    .price {
        font-size: 18px;
    }
    .sellBtn {
        padding: 8px 16px;
    }
    .card {
        padding: 0 10px;
        padding-bottom: 16px;
        max-width: 164px;
    }
}