@import "@/styles/variables.scss";

.navigation_skeleton {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 880px) {
  .navigation_skeleton {
    display: none;
  }
}
