@import "../../styles/variables.scss";

.slider {
  background: $mainGbColor;
  min-height: 1057px;
}
.slider_container {
  max-width: 1408px;
  margin: 0 auto;
}
.slider_title {
  margin: 0px;
  padding: 0px;
  padding-top: 160px;
  padding-bottom: 50px;
  color: #fff;
  font-size: 48px;
  font-family: $kharkiv;
  line-height: 100%;
  margin-left: 90px;
}
.rec-arrow {
  display: none;
}
.slide_buttons {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
}
button.rec-dot_active:hover,
button.rec-dot:active,
button.rec-dot:focus {
  transition: none;
  background-color: none;
  box-shadow: none;
}
.rec-pagination {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
button.rec-dot {
  margin: 0;
  background-color: #f2f4f7;
  border-radius: 0px;
  border: none;
  flex-grow: 1;
  box-shadow: none;
  transition: all 1s ease-in-out;
  height: 4px;
}

button.rec-dot_active {
  transition: all 1s ease-in-out;
  background-color: #835ae0;
}

@media (max-width: 839px) {
  .slider {
    min-height: 1000px;
  }
  .slider_title {
    margin-left: 40px;
  }
  button.rec-dot {
    margin: 0;
    background-color: #f2f4f7;
    border-radius: 0px;
    border: none;
    flex-grow: 1;
    box-shadow: none;
    transition: all 1s ease-in-out;
    height: 4px;
  }
  button.rec-dot_active {
    transition: all 1s ease-in-out;
    background-color: #835ae0;
  }
}

@media (max-width: 1360px) {
  .slide_buttons {
    display: none;
  }
}
@media (max-width: 530px) {
  button.rec-dot {
    flex-grow: 1;
  }
  .slider_title {
    margin-left: 10px;
  }
}
@media (max-width: 375px) {
  .slider_title {
    margin-left: 16px;
    font-size: 24px;
    line-height: 110%;
  }
  .slider {
    min-height: 816px;
  }
}
