@import "@styles/variables.scss";

.cart-total-price {
  box-sizing: border-box;
  position: sticky;
  width: 100%;
  top: 0;
  max-width: 400px;
  background: #2a2a2f;
  border-radius: 4px;
  padding: 20px;
  max-height: 430px;
  &__info {
    border-bottom: 1px solid #fff;
    border-radius: 0px;
  }
  &__promo-text {
    margin: 30px 0px 30px 0px;
    text-decoration: underline dotted;
    text-underline-offset: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  p {
    color: #f2f4f7;
    font-size: 18px;
    font-family: $mainFont500;
    line-height: 140%;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    & img {
      cursor: pointer;
    }
  }
  &__about-price {
    margin: 0px;
    margin-top: 20px;
    display: grid;
    padding: 0px;
    list-style-type: none;
    gap: 10px;
    p {
      font-size: 16px;
      font-family: $mainFont400;
      margin: 0px;
    }
    & li {
      display: flex;
      justify-content: space-between;
    }
  }
  &__content-buy {
    display: grid;
    gap: 40px;
  }
}
